{% extends "base.html.twig" %}

{% block body %}

<hr>
<hr>
<div class="container mt-5 mb-5 mx-5">

 <h2 class="page-header">Add Event</h2>
  {{form_start(form)}}
  {{form_widget(form)}}
  {{form_end(form)}}

</div>
 

{% endblock %}